*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
img{
    width: 60px;
    height: 60px;
}
#logo{
    
    background-color: rgb(0, 132, 255);
    color: orangered;
    font-size: 20px;
}
#connexion{
    
    background-color: rgb(0, 132, 255);
    font-weight: bold;
}
a{
    color: orangered;
    text-decoration: none;
    font-size: 25px;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 132, 255) ;
}

#paragraphe{
width: 70%;
}
#insolite{
color: orangered;
font-weight: bold;
font-size: 30px;
font-family: Patrick Hand;
}
#decouvrir{
    color: orangered;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: Patrick Hand;
}
#recherche{
    display:flex;
    justify-content: space-between;
    background-color: rgb(0, 132, 255);
    height: 70px;
    align-items: center;
}
.lieux{
    background-color: orangered;
}
#lieux{
    color:rgb(0, 132, 255);
}