*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #38b6ff;
}
header{
    height:100px;
    display: flex;
    justify-content: right;

}
#lienAccueil{
    text-decoration: none;
    color:#38b6ff;
    font-size:25px;
}
#hautPage{
    background-color:#ff914d;
    height:100%;
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}
form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#lienMembre{
    text-decoration: none; 
    background-color:#ff914d;
    color:#38b6ff;
    margin-top: 50px;
    padding: 20px;
    font-size:30px;
    font-weight: bold;
}
#identification{
    display:flex;
    justify-content: center;
    margin-top: 150px;
}
#mdp{
    display:flex;
    justify-content:center;
    margin-top: 50px;
}
label{
    color:#ff914d;
    font-size:30px;
    font-weight: bold;
    margin-right:20px;
}